################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ZhangZhiShiRssRead.UTTest/obj
/ZhangZiShiRssRead/bin/x86/Debug
/ZhangZiShiRssRead/obj
/ZhangZiShiRssRead/Package.StoreAssociation.xml
/ZhangZiShiRssRead/ZhangZiShiRssRead_StoreKey.pfx
*.suo
/.vs/config/applicationhost.config
*.user
/ZhangZiShiRssRead/bin/ARM/Debug
